@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.login-form{
    min-height: 100vh;
    justify-content: center;
    display: flex;
    font-family: 'poppins',sans-serif;
}
.content{
    flex-basis: 65%;
    padding: 5em 5em;
}
.form-img{
    flex-basis: 35%;
    padding: 10px;
    align-items: center;
    display:flex;
    justify-content:right;
}
.form-img img{
    border-radius: 5%;
    align-items:right;
}
p{
    line-height: 25px;
}
.btn,button,input{
    border-radius: 5px;
}
.btn:hover,
button:hover{
  color: grey;
    transition: 0.5s ease;
}

.login-form input{
    outline: grey;
    margin-bottom: 13px;
    font-stretch: 15px;
    color: #999;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f7fafc;
    transition: 0.3s ease;
}
.login-form input:focus{
    background: transparent;
    border: 1px solid #162D3A;
}

.login-form button{
    color: #fff;
    width: 100%;
    background: #162D3A;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}
p.account a{
    color: #1E4AE9;
}
p.account a:hover{
 text-decoration: underline;
}
div a{
    color: #1E4AE9;
}
div a:hover{
 text-decoration: underline;
}
.cright{
    color:#959CB6;
}
.top-img{
    width:100%;
    height:160px;
    object-fit: cover;
    border-radius:5%;
}
@media only screen and (max-width: 640px) {
    .right-img {
      display:none;
    }
    .content{
        flex-basis: 100%;
        padding: 5em 5em;
    }
    .text-responsive{
        margin-top:margin-top: 0px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .right-img {
      display:none;
    }
    .content{
        flex-basis: 100%;
        padding: 5em 5em;
    }
  }

  @media only screen and (min-width: 1024px) {
    .top-img {
        display:none;
  }
