@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.content{
    padding: 2em 5em;
    display: flex;
    flex-direction: row-reverse;
}
.form-img img{
    margin: 0 50px;
    max-width: 70vh; 
    border-radius: 25px;
}
p{
    line-height: 25px;
}
.btn,button,input{
    border-radius: 5px;
}
.btn:hover,
button:hover{
    background-color: black;
    transition: 0.5s ease;
}

.login-form input{
    outline:none;
    margin-bottom: 13px;
    font-stretch: 15px;
    color: #162D3A;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #8897AD;
    background: #f7fafc;
    transition: 0.3s ease;
}
.login-form input:focus{
    background: transparent;
    border: 1px solid #162D3A;
}
.login-form button{
    color: #fff;
    width: 100%;
    background: #162D3A;
    border: none;
    padding: 14px 15px;
    font-weight: 600;
    transition: 0.3s ease;
}
p.account a{
    color: #1E4AE9;
}
p.account a:hover{
 text-decoration: underline;
}
div a{
    color: #1E4AE9;
}
div a:hover{
 text-decoration: underline;
}
.cright{
    color:#959CB6;
}
@media only screen and (max-width: 640px) {
    .content{
        display: block;
        flex-basis: 100%;
        padding: 5em 5em;
    } 
    .form-img img{
        max-height: 25vh;
        object-fit: cover;
        width:100%;
        border-radius: 5px;
        margin:0px 0px;
    }
    .text-responsive{
        margin-top: 0px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .content{
        display: block;
        padding: 5em 3em;
    }
    .form-img img{
        max-height: 15vh;
        object-fit: cover;
        width:100%;
        border-radius: 5px;
        margin:0px 0px;
    }
    .text-responsive{
        margin-top: 0px;
    }
  }

