.container{
    border: 1px rgb(126, 126, 126) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}
.flex-container{
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.progress{
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}